@use '../../sass/abstracts/mixins';

.details {
  @include mixins.paper;
  width: 100%;

  &__content {
    padding: var(--spacing-lg);
    padding-top: 0;
    white-space: pre-line;
  }

  &__summary {
    padding: var(--spacing-regular) var(--spacing-lg);
  }
}
