.details {
  width: 100%;
  border-radius: var(--border-radius-regular);
  box-shadow: var(--box-shadow);

  &__content {
    padding: var(--spacing-lg);
    padding-top: 0;
    white-space: pre-line;
  }

  &__summary {
    padding: var(--spacing-regular) var(--spacing-lg);
  }
}
