.pagination {
  margin-top: var(--spacing-sm);

  &__controls {
    display: flex;
    gap: var(--spacing-regular);
  }

  &__info {
    margin-bottom: var(--spacing-sm);
  }

  &__go-to-page-form {
    display: flex;
    gap: var(--spacing-regular);
  }
}
