.notification {
  padding: var(--spacing-lg);
  border-radius: var(--spacing-regular);
  margin-top: var(--spacing-regular);

  &--info {
    background-color: lightblue;
    border: var(--border);
    border-color: blue;
  }
}
