.header {
  padding: var(--spacing-regular) 4rem;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;

  @include respond(medium) {
    padding: var(--spacing-regular) var(--spacing-lg);
  }

  @include respond(small) {
    padding: var(--spacing-regular);
  }

  @include respond(xs) {
    flex-direction: column;
  }

  &__title {
    color: var(--color-primary);
    text-decoration: none;
  }
}
