.layout {
  background-color: var(--color-off-white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    margin: 0 auto;
    max-width: 75rem;
    padding: var(--spacing-lg);
  }

  &__content-container {
    flex: 1 1 auto;
    width: 100%;
  }
}
