@mixin paper {
  background-color: white;
  border-radius: var(--border-radius-regular);
  box-shadow: var(--box-shadow);
}

@mixin respond($breakpoint) {
  @if $breakpoint == md {
    // 615px
    @media only screen and (max-width: 54.6875em) {
      @content;
    }
  }
}
