@mixin paper {
  background-color: white;
  border-radius: var(--border-radius-regular);
  box-shadow: var(--box-shadow);
}

@mixin respond($breakpoint) {
  @if $breakpoint == md {
    // 800px
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  @if $breakpoint == sm {
    // 450px
    @media only screen and (max-width: 28.125em) {
      @content;
    }
  }
}
