@mixin paper {
  background-color: white;
  border-radius: var(--border-radius-regular);
  box-shadow: var(--box-shadow);
}

@mixin respond($breakpoint) {
  @if $breakpoint == medium {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == small {
    @media only screen and (max-width: 46.875em) {
      @content;
    }
  }

  @if $breakpoint == xs {
    @media only screen and (max-width: 40.625em) {
      @content;
    }
  }
}
