:root {
  --border: 1px solid black;

  --border-radius-sm: 0.2rem;
  --border-radius-regular: 0.5rem;
  --border-radius-lg: 1rem;

  --box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);

  --color-off-white: #e1e0dd;

  --spacing-xs: 0.2rem;
  --spacing-sm: 0.5rem;
  --spacing-regular: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
}
