.table-cell {
  border: var(--border);
  padding: var(--spacing-xs) var(--spacing-regular);
  white-space: nowrap;

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--wrap {
    white-space: normal;
  }
}
