.fieldset {
  padding: var(--spacing-regular);
  border-radius: var(--border-radius-regular);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-regular);
  }

  &__legend {
  }
}
