.select {
  &__label {
    display: block;
    padding-bottom: 0.2rem;
  }

  &__option {
    padding: 1rem 0;
  }

  &__select {
    padding: 1rem;
    font-size: 1.6rem;
    width: 100%;

    &--disabled {
      cursor: not-allowed;
    }

    &--loading {
      cursor: wait;
    }
  }
}
