.select {
  &__label {
    display: block;
    padding-bottom: var(--spacing-xs);

    &--inline {
      display: inline;
      padding-bottom: 0;
      padding-right: var(--spacing-regular);
    }
  }

  &__option {
    padding: var(--spacing-regular) 0;
  }

  &__select {
    padding: var(--spacing-regular);
    font-size: 1.6rem;
    width: 100%;

    &--disabled {
      cursor: not-allowed;
    }

    &--inline {
      display: inline;
      width: auto;
    }

    &--loading {
      cursor: wait;
    }
  }
}
