.table-header {
  border: var(--border);
  padding: var(--spacing-xs) var(--spacing-regular);
  white-space: nowrap;

  &__content {
    display: flex;
    gap: var(--spacing-regular);
    justify-content: space-between;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--stretch {
    width: 100%;
  }
}
