.nav-menu {
  position: relative;

  &__link {
    border-radius: var(--border-radius-regular);
    color: inherit;
    padding: var(--spacing-regular);
    text-decoration: none;

    &:hover {
      background-color: #eee;
    }
  }

  &__menu {
    @include paper;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: calc(100% + var(--spacing-regular));
    white-space: nowrap;
    z-index: 1;

    &--right {
      right: 0;
      text-align: end;
    }
  }
}
