.nav-menu {
  &__item {
    padding: var(--spacing-regular);

    &:hover {
      background-color: #eee;
    }
  }

  &__label {
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__menu {
    position: absolute;
    list-style: none;
    background-color: white;
    border: var(--border);
    white-space: nowrap;

    &--align {
      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }
    }

    &--hidden {
      display: none;
    }
  }
}
