.base-page {
  --border-radius: 0.5rem;
  --box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);

  padding: 2rem;
  max-width: 100rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__copy-to-clipboard {
    margin-bottom: 1rem;
  }

  &__description {
  }

  &__form {
    width: 100%;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__info-box {
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 2rem;
  }

  &__results-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  &__title {
    margin-bottom: 2rem;
  }
}
