.base-input {
  &__input {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;

    border: 1px solid #444;
    border-radius: 0.4rem;

    &--disabled {
      cursor: not-allowed;
    }

    &--loading {
      cursor: wait;
    }

    &--no-stepper {
      appearance: auto;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__label {
    display: block;
    padding-bottom: 0.2rem;
  }
}
