.base-input {
  &__input {
    &--no-stepper {
      appearance: auto;
      -moz-appearance: textfield;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__label {
    display: block;
  }
}
