.details {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);

  &__content {
    padding: 2rem;
    padding-top: 0;
    white-space: pre-wrap;
  }

  &__summary {
    padding: 1rem 2rem;
  }
}
