.nearby-hotspots {
  &__get-user-position {
    grid-column: 1 / -1;
  }

  &__loading-position,
  &__position-error {
    grid-column: 1 / -1;
    text-align: center;
  }

  &__position-error {
    color: red;
  }

  &__submit {
    grid-column-start: 1;
  }
}
