.nav {
  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    justify-content: center;

    @include respond(md) {
      gap: var(--spacing-lg) var(--spacing-sm);
    }
  }
}
