.table {
  border: var(--border);

  &__container {
    display: inline-block;
    border: var(--border);
    overflow-x: auto;
    width: 100%;
  }

  &__table {
    border-collapse: collapse;
    text-align: left;
  }

  &__tbody {
  }

  &__tr {
  }

  &__thead {
  }
}
