.table {
  &__container {
    display: inline-block;
    border: var(--border);
    overflow-x: auto;
    max-width: 100%;
  }

  &__table {
    border-collapse: collapse;
    text-align: left;
  }

  &,
  &__td {
    border: var(--border);
  }

  &__td {
    padding: var(--spacing-xs) var(--spacing-regular);
    white-space: nowrap;

    &--center {
      text-align: center;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &--wrap {
      white-space: normal;
    }
  }

  &__tbody {
  }

  &__tr {
  }

  &__thead {
  }
}
