.tooltip {
  position: relative;

  &:hover .tooltip__text {
    visibility: visible;
  }

  &__text {
    visibility: hidden;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    text-align: center;
    background-color: #eee;
    border: var(--border);
    border-radius: var(--border-radius-regular);
    padding: var(--spacing-regular);

    &--disabled {
      display: none;
    }
  }
}
